body {
  display: block;
  width: 90%;
  margin: auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: 4px;
  text-align: justify;
}

header > a {
  text-decoration: none;
}

main {
  margin: auto;
}

h1 {
  font-size: 1.5 rem;
  font-weight: 600;
  border-left: 16px solid darkgray;
  border-bottom: 2px solid darkgray;
  border-radius: 8px;
  line-height: 2;
  padding-left: 16px;
}
