.prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu--content {
  display: flex;
  justify-content: space-between;
}

.menu--hair {
  width: 55%;
  margin-right: 4px;
}

.item {
  width: 60%;
}

.price {
  width: 25%;
}

th {
  text-align: center;
}
